@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
  }

  * {
    border-color: theme('colors.gray.200');
  }

  body {
    background-color: theme('colors.white');
    color: theme('colors.gray.900');
  }
}